<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAiSURBVDhPYzz1/uJ/BgoAE5QmG4waMGoACIwaMPAGMDAAAJlbA6mfXDzKAAAAAElFTkSuQmCC" />
        <style type="text/css">
            <!--
                h3 {
                    margin-left: 1.0em;
                }
                ul {
                    margin: 0.5em;
                }
                li {
                    margin: 0.5em;
                    line-height: 1.3;
                }
            -->
        </style>
        <title>
            {{ page.h1 }}
        </title>
    </head>
    <body style="background-color: #caefd1; line-height: 1.3;">
        <h1>
            {{ page.h1 }}
        </h1>
	{{ content }}
    </body>
</html>
